body {
background-color: #f4f4f9;
}
h1 {
  padding-top: 30px;
  padding-left: 30px;
  font-size: 100%;
  color: blue;
}
p {
  padding-top: 30px;
  padding-left: 30px;
  margin-top: 0;
  align-items: center;
}
#excuse {
  margin-top: 20px;
}